


#db-loader-button {
	
	padding-left: 30px;
	padding-top: 30px;
	
}

.message {
	padding-left: 30px;
	padding-top: 30px;
	color: orange;
}

.admin-content {
	padding: 30px;
}

.edit-form {
	
	padding-left: 30px;
}

.member {
	
	padding-left: 30px;
	
}

input {
	margin-right: 30px;
}

