
body {
	background-color: rgb(0, 40, 104);
	color: white;
}

header {
	height: 120px;
}

#logo-anchor {
	height: 100%;
}

.img-responsive {
	height: 100%;
}

#navig {
	background-color: #d9d9d9;
	color: black;
	border: none;
}

.navbar-nav > li > a {
	padding-top:8px !important; 
	padding-bottom:5px !important;
}
	
.navbar {
	min-height:34px !important
}

#main {
	background-color: rgb(191,10,48);
	border-radius: 10px;
	padding: 0;
}


footer {
	margin-top: 30px;
	margin-left: 30px;
	color: white;
	padding-bottom: 30px;
}

.padding-right {
	padding-right: 30px;
}

iframe {
	padding: 10px;
}

#map-info {
	color: white;
	/* background-color: navy; */
	/* background-color: #002db3; */
	margin-bottom: 20px;
}


.hidden {
	display: none;
}

.navbar-right, #currentUser {
	padding-right: 20px;
}

#logoutForm {
	display: inline;
}

.sub{
	display: none;
}

@media screen and (max-width: 991px) {.master {
	display: none;
}

.sub {
	display: block;
	text-align:center;

}

#mobile-heading {
	padding-left: 12%;
	width: 80%;
	font-size: 36px;
	padding-bottom: 30px;
}

.sub>div {
	display: inline-flex;
	justify-content: space-around;
}

.homeFlagBox {
	width: 20%;
	height:auto;
}

.homeFlag {
	border: solid #bfbfbf 6px;
	border-radius: 8px;
	width:100%;
}
.homeState>a {
	text-decoration: none;
		color: white;
	font-size: 4vw;
}

.homeState {
	align-self:center;
	/* padding-top: 35px; */
	width:40vw;
}

.homeState>a:hover {
	text-decoration: underline;
		color: red;
	font-size: 4vw;
}

.sub>div {
	padding-top:15px;
}
.sub>p {
	font-size:6vw;
	font-style:italic;
	
}
}
.breakline {
	width: 90%;
	color:silver;
}

footer {
	margin-left:0px;
	width:100%;
/* 	display:inline-flex; */
/* 	justify-content:space-around; */
}
/* footer>p {
	position:relative;
	right:10vw;
} */

.link {
	color: white;
}

.link:visited {
	color: white;
}

.socialLinks>a {
	padding-right: 5px;
}
/* .response-message {
	padding-left: 100px;
} */

.white {
	background-color: white;
	color: black;
	min-height: 300px;
	border-radius: 10px;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-and-social {
	width:100%;
	display:inline-flex;
	justify-content:space-around;
}

.copyright {
	
	padding-top: 20px;
	padding-bottom: 10px;
}

.about a:visited {
	color: white;
}

.login-form {
	padding-top: 20px;
	padding-bottom: 40px;
}
